<!DOCTYPE html>
<html lang="en">
<head>
<title>panel</title>
<script type="text/javascript" src="../public/jq1.8.js"></script>
<link href="../public/panel.css" rel="stylesheet" />
</head>
<body>
<article id="panel">
<%if(!isArchived) { %>
<a href="/archived">archived</a>
<% }else{ %>
<a href="/">not archived</a>
<% } %>
<% include list %>
<h1>Work Track <strong><%= addstr %></strong></h1>
<section class="panel-record"></section>
<form method="post" action="add" class="panel-form">
  <div><label for="workDate">Date (YYYY-MM-DD):</label><input id="workDate" name="date" type="date" /></div>
  <div><label for="workHours">Hours Worked:</label><input id="workHours" name="hours" type="number" /></div>
  <div><label for="workDes">Descriptions:</label><input type="workDes" name="description" type="text" /></div>
  <div><input type="submit" value="Add" /></div>
</form>
</article>
<script type="text/javascript" src="../public/panel.js"></script>
</body>
</html>
