* {
  margin: 0px;
  padding: 0px;
}
#wrap {
  perspective: 1200px;
}
#flip {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 500px;
  transform-style: preserve-3d;
  /*transform: rotateY(100deg);*/
  transition: transform 1s;
}
#flip div {
  position: absolute;
  width: 100%;
  height: 100%;
  font: bold 50px/500px impact;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
#flip .front {
  background-color: red;
}
#flip .back{
  background-color: blue;
  transform: rotateY(180deg);
}

#prismWrap {
  margin: 100px;
  width: 300px;
  height: 200px;
  perspective: 1200px;
}
#prism {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-50px);
  transition: transform 1s;
}
#prism div {
  position: absolute;
  font: bold 50px impact;
  color: #fff;
  text-align: center;
  opacity: 0.7
}
#prism .front {
  transform: translateZ(50px);
  width: 300px;
  height: 200px;
  background-color: red;
  line-height: 200px;
}
#prism .back {
  transform: rotateY(180deg) translateZ(50px);
  width: 300px;
  height: 200px;
  background-color: blue;
  line-height: 200px;
}
#prism .left {
  transform: rotateY(-90deg) translateZ(50px);
  width: 100px;
  height: 200px;
  background-color: pink;
  line-height: 200px;
}
#prism .right {
  transform: rotateY(90deg) translateZ(250px);
  width: 100px;
  height: 200px;
  background-color: green;
  line-height: 200px;
}
#prism .top {
  transform: rotateX(90deg) translateZ(50px);
  width: 300px;
  height: 100px;
  background-color: orange;
  line-height: 100px;
}
#prism .bottom {
  transform: rotateX(-90deg) translateZ(150px);
  width: 300px;
  height: 100px;
  background-color: gray;
  line-height: 100px;
}
#sliderWrap {
  perspective: 1200px;
  margin: 250px;
  width: 210px;
  height: 140px;
  position: relative;
}
#slider {
  transform-style: preserve-3d;
  transform-origin: 50% 50% -288px;
  transform: translateZ(-288px);
  width: 100%;
  height: 100%;
  font: bold 50px/140px impact;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  transition: transform 1s;

}
#slider div {
   position: absolute;
   width: 100%;
   height: 100%;

   
}
#slider div:nth-child(1) {
  background-color: red;
  transform: translateZ(288px);
}
#slider div:nth-child(2) {
  background-color: gray;
  transform: rotateY(40deg) translateZ(288px);
}
#slider div:nth-child(3) {
  background-color: green;
  transform: rotateY(80deg) translateZ(288px);
}
#slider div:nth-child(4) {
  background-color: orange;
  transform: rotateY(120deg) translateZ(288px);
}
#slider div:nth-child(5) {
  background-color: black;
  transform: rotateY(160deg) translateZ(288px);
}
#slider div:nth-child(6) {
  background-color: powderblue;
  transform: rotateY(200deg) translateZ(288px);
}
#slider div:nth-child(7) {
  background-color: pink;
  transform: rotateY(240deg) translateZ(288px);
}
#slider div:nth-child(8) {
  background-color: blue;
  transform: rotateY(280deg) translateZ(288px);
}
#slider div:nth-child(9) {
  background-color: purple;
  transform: rotateY(320deg) translateZ(288px);
}
