* {
  margin: 0px;
  padding: 0px;
}
#wrap {
  perspective: 1200px;
}
#flip {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 500px;
  transform-style: preserve-3d;
  /*transform: rotateY(100deg);*/
  transition: transform 1s;
}
#flip div {
  position: absolute;
  width: 100%;
  height: 100%;
  font: bold 50px/500px impact;
  color: #fff;
  text-align: center;
  backface-visibility: hidden;
}
.front {
  background-color: red;
}
.back{
  background-color: blue;
  transform: rotateY(180deg);
}