* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 100px;
}
.demo1 {
  margin: 100px;
}
.demo1 div {
  width: 300px;
  height: 300px;
}
.demo1 .box1 {
  transform: perspective(600px) rotateY(50deg);
  background-color: red;
}
.demo2  {
  margin: 100px;
  perspective: 600px;
}
.demo2 div {

  width: 300px;
  height: 300px;
}
.demo2 .box1 {
  transform: rotateY(20deg);
  background-color: blue;
}
.demo3 {
  margin: 100px;
  width: 350px;
  /*transform: perspective(700px); 父元素只能使用属性设置*/
  perspective: 400px;
}
.demo3 .box1{
  margin: 20px;
  float: left;
  width: 50px;
  height: 50px;
  background: powderblue;
  transform: rotateY(45deg);
}
.cubeWrap {
  perspective: 1200px;
}
.cube {
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
}
.cube section {
  position: absolute;
  width: 300px;
  height: 300px;
  text-align: center;
  font: bold 100px/300px sans-serif;
  color: #fff;
  opacity: 0.5;
  border: 2px solid #000;
}
.cube1 {
  background-color: red;
  transform: translateZ(100px) rotateY(-180deg);
}
.cube2 {
  background-color: blue;
}