* {
  margin: 0px;
  padding: 0px;
}
#errorWrap {
  padding: 150px;
  /*perspective: 1000px;*/
}
.error-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border: 5px solid #F27474;
  border-radius: 50%;
  transform: rotate3d(1,0,0,45deg);
  transform-style: preserve-3d;
}

.error-x-1,
.error-x-2 {
  position: absolute;
  top: 37.5px;
  left: 20px;
  width: 40px;
  height: 5px;
  background-color: #F27474;
  border-radius: 5px;
}
.error-x-1 {
  transform: rotate3d(0,0,1,-45deg) rotate3d(1,0,0,-45deg);
}
.error-x-2 {
  transform: rotate3d(0,0,1,45deg) rotate3d(1,0,0,-45deg);
}
